@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Passion+One:wght@400;700;900&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../fonts/idroid.otf) format('opentype');
    font-weight: normal;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --backgroundcolormain: #0f2dda;
    --backgroundcolorsecond: #f1f1f1;
    --colorsecond: #474747;
    --font-android: 'Android', cursive;
    --font-cordel: 'Passion One', cursive, sans-serif;
}

body {
    background-color: var(--backgroundcolormain);
    padding: 25px;
    transition: all 0.4s;
    transition-timing-function: ease;
}

div#corp {
    max-width: 1200px;
    height: 95%;
    background-color: var(--backgroundcolorsecond);
    border-radius: 10px;
    padding: 5px;
    box-shadow: -2px 2px 10px 10px rgba(28, 7, 218, 0.884);
    transition: all 0.4s;
    transition-timing-function: ease;
}

div.divproximo {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    transition: all 0.4s;
    transition-timing-function: ease;
}

div.divcab {
    margin-right: 10px;
    transition: all 0.4s;
    transition-timing-function: ease;
}

div.divcab2 {
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.8em;
    margin: 10px 5px;
    transition: all 0.4s;
    transition-timing-function: ease;
}

img {
    width: 18em;
}

.cabeçalho {
    color: var(--colorsecond);
    margin-bottom: 5px;
}

div#botões {
    display: flex;
    transition: all 0.4s;
    transition-timing-function: ease;
}

div.multbotões {
    display: flex;
    width: 10em;
    height: 2.3em;
    border-radius: 25px;
    background-color: var(--backgroundcolormain);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px 8px;
    box-sizing: border-box;
    transition: all 0.4s;
    transition-timing-function: ease;
}

div#botãodown > a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 35px;
}

div#botãodown:hover {
    border: 2px solid rgb(102, 102, 236);
    background-color: #3e58e9;
    box-shadow: 1px 7px 12px #687bec;
}

div#botãodown > a:hover {
    color: black;
}

div#botãocontacme > a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 35px;
}

div#botãocontacme:hover {
    border: 2px solid rgb(102, 102, 236);
    background-color: #3e58e9;
    box-shadow: 1px 7px 12px #687bec;
}

div#botãocontacme > a:hover {
    color: black;
}

div#divlinksociais {
    text-align: center;
    width: 100%;
    height: 100%;
}

div.divlinks {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    transition: all 0.4s;
    transition-timing-function: ease;
}

a.link {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f1f1f1;
    text-decoration: none;
    transition: all 0.4s;
    transition-timing-function: ease;
}

a.link:hover {
    opacity: 0.8;
}

a#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

a#twitter {
    background-color: #1A8CD8;
}

a#facebook {
    background-color: #4767b3;
}

a#whatsapp {
    background-color: #25d366;
}

a#github {
    background-color: black;
}

a#telegram {
    background-color: #3390EC;
}

a#linkedin {
    background-color: #0A66C2;
}

a#reddit {
    color: white;
    background-color: #FF4500;
}

div.divsocihab {
    display: inline-block;
    margin: 5px;
    width: 550px;
    height: 250px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(202, 202, 202);
    transition: all 0.4s;
    transition-timing-function: ease;
}

div#dividsocihab {
    text-align: center;
}

div.divsocihab > h1 {
    text-align: center;
    padding: 10px;
}

ul#ulhab {
    columns: 2;
    list-style-position: inside;
    column-gap: 50px;
    line-height: 25px;
}

div#divideos {
    display: flex;
    width: 100%;
    height: 400px;
    transition: all 0.4s;
    transition-timing-function: ease;
}

div.divideo {
    position: relative;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    width: 560px;
    height: 350px;
    margin: 15px;
    transition: all 0.4s;
    transition-timing-function: ease;
}

div.divideo > h1 {
    text-align: center;
}

div.divideo > iframe {
    position: absolute;
    border-radius: 10px;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 90%;
}

div#divprojeto {
    margin: 15px;
    padding: 10px;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    height: 610px;
    box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.349);
    transition: all 0.4s;
    transition-timing-function: ease;
}

div#divprojeto > h1 {
    text-align: center;
}

div#divprojeto > ul {
    list-style-position: inside;
    line-height: 20px;
}

div#divprojeto > ul > li {
    margin: 10px;
    padding: 5px;
}

div#divprojeto > ul > li::after {
    content: '\0020\1F517';
}

div#divprojeto > ul > li > a {
    text-decoration: none;
}

div#divprojeto > ul > li > a#fontcordel {
    font-family: 'Dancing Script', cursive;
    font-weight: 200;
    font-size: 1.8em;
    color: black; 
}

div#divprojeto > ul > li > a#fontandro{
    font-family: var(--font-android);
    font-weight: 200;
    font-size: 1.5em;
    color: #3DDC84;
}

div#divprojeto > iframe {
    width: 100%;
    height: 75%;
    border-radius: 10px;
}

@media screen and (max-width: 2560px){
    body{
        display: flex;
        justify-content: center;
        transition: all 0.4s;
        transition-timing-function: ease;
    }
}

@media screen and (max-width: 1024px){

    body {
        display: block;
        transition: all 0.4s;
        transition-timing-function: ease;
    }

    div#divproximomedia {
        display: flex;
        transition: all 0.4s;
        transition-timing-function: ease;
    }

    div#divproximomedia > div.divsocihab {
        width: 98%;
        transition: all 0.4s;
        transition-timing-function: ease;
    }
}

@media screen and (max-width: 840px) {

    div.divproximo {
        display: block;
        transition: all 0.4s;
        transition-timing-function: ease;
    }

    div.divproximo > div#divimg {
        text-align: center;
    }

    div#divideos {
        display: block;
        width: 100%;
        height: 830px;
        transition: all 0.4s;
        transition-timing-function: ease;
    }

    div#divideos > div.divideo {
        position: relative;
        width: 96%;
        height: 400px;
        transition: all 0.4s;
        transition-timing-function: ease;
    }

    div.divideo > iframe {
        position: absolute;
        top: 10%;
        left: 0%;
        width: 100%;
        height: 90%;
    }
}

@media screen and (max-width: 768px) {

    div#divproximomedia {
        display: block;
        transition: all 0.4s;
        transition-timing-function: ease;
    }

    div#divproximomedia > div#divhab {
        width: 96%;
        height: 210px;
        transition: all 0.4s;
        transition-timing-function: ease;
    }
}

@media screen and (max-width: 425px) {
    
    body {
        margin: 0;
        padding: 0;
        transition: all 0.4s;
        transition-timing-function: ease;
    }

    div#cord {
        width: 100%;
        height: 100%;
    }

    div#divproximomedia > div#divhab {
        width: 96%;
        height: 365px;
        transition: all 0.4s;
        transition-timing-function: ease;
    }
}

@media screen and (max-width: 375px) {

    div#divproximomedia > div#divhab {
        width: 96%;
        height: 400px;
        transition: all 0.4s;
        transition-timing-function: ease;
    }

    div#divprojeto {
        height: 800px;
        transition: all 0.4s;
        transition-timing-function: ease;
    }
}

@media screen and (max-width: 320px) {

    div#divproximomedia > div#dividsocihab {
        height: 280px;
        transition: all 0.4s;
        transition-timing-function: ease;
    }

    div#divproximomedia > div#divhab {
        width: 96%;
        height: 400px;
        transition: all 0.4s;
        transition-timing-function: ease;
    }
}